---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

/* Hide blog description and tag list */
.header-bar h2,
.tag-category-list {
  display: none !important;
}
